@{
  Layout = "_Layout";
}

@model University_Registrar.Models.Student

<h2>Are you sure you want to delete this student?</h2>
<br>
<br>
@using (Html.BeginForm())
{
  <p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>
  <br>
  <br>
  <input type="submit" value="Delete" />
}
<br>
<br>
<br>
<p>@Html.ActionLink("Show All Students", "Index")</p>
<p>@Html.ActionLink("Show All Courses", "Index", "Courses")</p>