@{
  Layout = "_Layout";
}

<h1>Welcome to the Hard Knocks University's Registrar!</h1>
<br>
<br>
<br>
<p>@Html.ActionLink("See all Courses", "Index", "Courses")</p>
<br>
<p>@Html.ActionLink("See all Students", "Index", "Students")</p>